@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 768px) {
	/* body { font-size: 13px; }
	h1 { font-size: 30px; line-height: 40px; }
	h2 { font-size: 22px; line-height: 30px; }
	h3 { font-size: 22px; line-height: 30px; }
	h4 { font-size: 18px; line-height: 30px; }
	h5 { font-size: 15px; line-height: 20px; }
	h6 { font-size: 13px; line-height: 20px; }

	p {
        font-size: 18px;
        line-height: 27px;
    }
   h1,h2,p{text-align: left;} */

 


/* .video-link {
    text-decoration: none;
    color: var(--gray);
    font-size: 18px;
    transition: font-size 0.3s ease, color 0.3s ease;
} */



/* .video-link { text-decoration: none; color: var(--gray);font-size: 18px;transition: font-size 0.3s ease, color 0.3s ease;} */





	
	video.home_video {
		margin-top: 83px;
	}
	

	.gateway-plateform {
       
        /* width: 60%; */
	}
	  .gateway-plateform li a {
		
		border-radius: 15px;
		background-color: #fff;
		
	header { padding: 8px 0; }

	.patents-research .patent-research-list .Patents, .reserch {
		padding: 30px;
		display: flex;
		justify-content: space-between;
	}

	

	footer p { text-align: center; font-size: 14px; }
}
}
/* @media only screen and (max-width: 400px) {

	video.home_video {
		margin-top: 83px;
	}
	.section {
		width: 100%;
		height: auto;
		
	}

	.keyboard-platform-list li figure {
		margin: 5px 0 0 0;
	}
	.custom-list li.active-disc,.custom-list li.active-disc .video-link {color: #00BC84;font-size: 20px; font-weight: 700; transform:unset}
	.video-link {
		text-decoration: none;
		color: var(--gray);
		font-size: 20px;
		transition: font-size 0.3s ease, color 0.3s ease;
	}

	section.businesses-consumers.section.section-auto {
		margin-top: 100px;
	}

	.category {
		padding: 5rem 12px;
		margin: 5rem 0px;
	}
    
} */

  
